*.class
*.jar
.idea
target
.idea_modules
build
*.xml
*.swp
out
*~
logs
src/native/*
*.txt
*.iml
hadoop-1.2.1/src/native/INSTALL

hadoop-1.2.1/src/native/INSTALL

*.in

hadoop-1.2.1/src/native/Makefile.in

hadoop-1.2.1/src/native/aclocal.m4

hadoop-1.2.1/src/native/config.h.in

hadoop-1.2.1/src/native/config/config.guess

hadoop-1.2.1/src/native/config/config.sub

hadoop-1.2.1/src/native/config/depcomp

hadoop-1.2.1/src/native/config/install-sh

hadoop-1.2.1/src/native/config/install-sh

hadoop-1.2.1/src/native/config/ltmain.sh

hadoop-1.2.1/src/native/config/missing

hadoop-1.2.1/src/native/configure
